/* GLOBAL */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: black;
}


/* HEADER */
header {
    background-color: #2727ff;
    color: aliceblue;

    text-align: center;
    padding: 20px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}


/* MAIN */
main {
    flex: 1;
    
    background-color: #f2fafc;

    width: 1200px;
    margin: 0 auto;
    padding: 100px 30px;
}

main > p.class-number {
    font: italic small-caps normal 15px/30px Courier, monospace;
    text-align: right;
}

main > h1.class-title {
    font: italic normal normal 2.5em/100px 'Times New Roman', serif;
    text-align: center;
}

section {
    width: 80%;
    margin: auto;
}

section > h2.class-subtitle {
    font: normal normal bold 3em/180px Arial, sans-serif;
}    

section > p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 0 10px 0;
    text-indent: 30px;
    text-align: justify;
}

section > p.figure-subtitle {
    text-align: center;
    font: italic small-caps normal 0.8em/40px sans-serif;
}

section > p > a {
    text-decoration: none;
    color: black;
}

section > p > a:hover {
    color: #2727ff;
}

/* FOOTER */
footer {
    background-color: #2727ff;
    color: aliceblue;

    margin: 0 auto;
    padding: 5px 0; 
    height: 50px;
    width: 100vw;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

footer > p {
    font: italic normal normal 0.8em/20px arial;
    text-align: center;
}

footer > p#copyright {
    text-transform: uppercase;
}