div.example-box {
    display: flex;
    flex-flow: row nowrap;

    align-items: center;

    background-color: #fff;
    border: 3px solid yellow;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 1px #999;


    justify-content: space-evenly;
    
    height: 200px;
    width: 600px;
    margin: 0 auto;
}

div.example-items {
    background-color: lightgoldenrodyellow;
    border: 3px solid yellow;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 1px #999;
    padding: 30px;
}


/* BOXS 4-5-6 */
div#box-4, #box-5, #box-6 {
    flex-basis: 180px;

    text-align: center;
    padding: 30px 0;
}


/* BOXS 7-8-9 */
div#box-7 {
    flex-basis: 170px;

    text-align: center;
    padding: 30px 0;
}

div#box-8 {
    flex-basis: 250px;

    text-align: center;
    padding: 30px 0;
}

div#box-9 {
    flex-basis: 100px;

    text-align: center;
    padding: 30px 0;
}


/* BOXS 10-11-12 */
div#flex-basis-example-4 {
    width: 300px;
}


div#box-10 {
    flex-basis: 170px;

    text-align: center;
    padding: 30px 0;
}

div#box-11 {
    flex-basis: 250px;

    text-align: center;
    padding: 30px 0;
}

div#box-12 {
    flex-basis: 100px;

    text-align: center;
    padding: 30px 0;
}