@charset "UTF-8";

:root {

    --cor1: #F2F2F2;
    --cor2: #A6A6A6;
    --cor3: #595959;
    --cor4: #262626;
    --cor5: #0D0D0D;
}

.main_h1 {
    font-size: 2.0rem;
    text-align: center;
}

.general_h1 {
    font-size: 1.5rem;
    text-align: center;
}

header {
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 1px 0px;
    border-radius: 10px 10px 0px 0px;
}

div#insta {
    height: 100vh;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-image: url('imgs/logo_insta.png');
    background-size: 25px;

}
