@charset "UTF-8";

body{
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #A5A692, #BFB78F);
}
header > h1{
    text-align: center;
    font: normal 3em 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 0px hsla(0, 0%, 0%, 0.3);
}
main{
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(240, 248, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
h2{
    font: normal 1.3em sans-serif;
}
p{
    text-indent: 20px;
}
li > p{
    text-indent: 0px;
}
