@charset "UTF-8";

body{
    background-color: antiquewhite;
}
h1{
    background-color: darkorange;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
p{
    text-align: justify;
}
