@charset "UTF-8";

/* TODAS AS DEMAIS MIDIAS */

/* Typical device Breakpoints 
Pequenas telas: até 600px
celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media print {
    body {
        background: url(../imagens/back-print.jpg);
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 2px solid black;
        min-width: 90vw;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão foi criada por Rock development';
        text-decoration: overline;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
    
} /* IMPRESSÃO */

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
} /* TABLET */

@media screen and(min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
} /* DESKTOP */

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
} /* GRANDES TELAS */