@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px; 
}

head, body{
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*Trnasforma as letras em maiusculo, deixando em destaque as letras iniciais*/

    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    
    font-size: 3.5vw;

} /*configuração global*/ 

section.normal {
    background-color: white;
    color: black;
}


section.imagem {
    background-color: rgb(85, 85, 85);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.186);
    width: 500px;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}